.container{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.section{
  width: 90%;
  margin: auto;
}
ul.breadcrumb {
  list-style: none;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.3rem;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-family: Montserrat;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}
h2{
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1{
  font-size: 1.5rem;
  font-family: Montserrat;
  text-align: center;
}
h3{
  font-size: 1.5rem;
  font-family: Montserrat;
}
.analyze-work{
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  border-radius: 35px;
}
.analyze{
  background-color: #EBEBEB;
  border-radius: 35px;
  padding: 3%;
  width: 100%;
}
.analyzes{
  margin: 3%;
  width: 40%;
}
.work{
  background-color: #EBEBEB;
  border-radius: 35px;
  padding: 3%;
  margin: 3%;
  text-align: center;
  width: 60%;
}
.button-1 {
  display: inline-block;
  padding: 1rem 5rem;
  border-radius: 10rem;
  color: white;
  font-size: 1.3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #8FC28B;
  font-family: Montserrat;
  margin: 3%;
  width: 300px;
  text-align: center;
}
.button{
  display: flex;
  justify-content: center;
}
.work p{
  text-align: start;
}
.work h3{
  text-align: start;
  font-family: Montserrat;
  font-size: 1.3rem;
}
.input-div{
  background-color: #E9DCDA;
  border-radius: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input{
  width: 95%;
  padding: 12px 24px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  color: #D0C7C5;
  background-size: 18px 18px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 98% center;
}
input{
  margin: auto;
}
.input-div p{
  text-align: center;
}
.faq{
  width: 50px;
  margin-top: -5%;
  z-index: 1;
  align-self: flex-end;
}
p{
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}
.audio{
  margin: 2%;
}
h3{
  margin: 2%;
}
.work-text {
  white-space: pre-wrap; /* Preserves line breaks */
  margin-left: 18%; /* Removes left indentation */
}
