<div class="container">
    <div class="section">
        <img src="assets/images/logo.svg">
        <div class="pdf">
        <h1>Анализ произведения  «Я всегда твердил, что судьба - игра», И. Бродский</h1>
        <div class="student-name">
            <p>Имя ученика:</p>
            <p>Дата:</p>
        </div>
            <div class="pdf-answer">
            <p>   Стихотворение это можно понимать, как “глубокое”, как в психологическом, так и в философском плане.</p>
                <h2>Фонетический уровень</h2>
                <p>Так как на анализ было взято произведение художественного стиля – стих – в нем мы непременно можем заметить приемы звукописи. Мы можем увидеть яркое проявление ассонанса, использованного для придания большей выразительности:</p>
                <div class="answer">
                    <p>Отчет ученика:</p>
                </div>
                <h2>Морфологический уровень</h2>
                <p>В тексте преобладают имена существительные, однако, количество прилагательных велико, как и количество глаголов, что говорит нам о большой динамике.
                </p>
                <div class="answer">
                    <p>Отчет ученика:</p>
                </div>
                <h2>Модальность глаголов</h2>
                <p>При анализе глаголов можно выделить большое преобладание глаголов настоящего времени, в том числе глаголов настоящего универсального времени (действие происходит всегда): </p>
                <div class="answer">
                    <p>Отчет ученика:</p>
                </div>
                <h2>Наклонение глаголов</h2>
                <p>Все использованные глаголы употреблены в изъявительном наклонении: Любил, считал, помыл, сказал.</p>
                <div class="answer">
                    <p>Отчет ученика:</p>
                </div>
            </div>
        </div>
        <h3>https://www.litron.kz</h3>
    </div>
  <div class="button" >
    <a class="button-1">Эксопрт в PDF</a>
  </div>
</div>

